@font-face {
  font-family: joelerego;
  src: url(../fonts/joelerego.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: joelerego;
  background-color: black;
  color: white;
}

.hero {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 42px;
  margin: 0px;
  padding: 0px;
  background: rgba(255, 187, 0, 1);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 187, 0, 1) 0%,
    rgba(255, 128, 8, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 187, 0, 1) 0%,
    rgba(255, 128, 8, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 187, 0, 1) 0%,
    rgba(255, 128, 8, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbb00",endColorstr="#ff8008",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h2 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.btn-grad {
  font-family: joelerego;
  font-size: 16px;
  background: rgb(255, 128, 8);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 128, 8, 1) 0%,
    rgba(255, 187, 0, 1) 50%,
    rgba(255, 128, 8, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 128, 8, 1) 0%,
    rgba(255, 187, 0, 1) 50%,
    rgba(255, 128, 8, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 128, 8, 1) 0%,
    rgba(255, 187, 0, 1) 50%,
    rgba(255, 128, 8, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8008",endColorstr="#ff8008",GradientType=1);
  margin: 0px;
  margin-top: 8px;
  padding: 8px;
  width: 160px;
  text-align: center;
  transition: 0.5s;
  background-size: auto 200%;
  color: #000;
  border: 0px;
  border-radius: 48px;
}

.btn-grad:hover {
  background-position: bottom;
}
